<div class="container-wrapper">
    <div *ngIf="!search && !showViolations" class="page-container">
        <div class="clarity-logo"></div>
        <h4  *ngIf="!hasViolations"  class="title" cds-text="section" >
            Add Clarity to your designs!
        </h4>
        <div  *ngIf="!hasViolations" class="description" cds-text="body">
            Scan your file for missing tokens, detached symbols and get additional guidance.
        </div>
        <button  *ngIf="!hasViolations" class="btn btn-primary btn-block scan-button" (click)="checkViolations()">scan page</button>
        <div *ngIf="hasViolations" class="clr-row">
            <div *ngIf="hexViolations.length" class="clr-col-6">
                <div class="card">
                    <div class="card-block">
                        <div class="number-icon" cds-text="section">
                            {{hexViolations.length}}
                            <cds-icon shape="color-picker"></cds-icon></div>
                        <div>Missing tokens</div>
                    </div>
                </div>
            </div>
            <div *ngIf="detachedViolations.length" class="clr-col-6">
                <div class="card">
                    <div class="card-block">
                        <div class="number-icon"  cds-text="section">
                            {{detachedViolations.length}}
                            <cds-icon shape="objects"></cds-icon></div>
                        <div>Detached layers</div>
                    </div>
                </div>
            </div>
        </div>
        <button *ngIf="hasViolations" class="btn btn-block scan-button" (click)="showResults()">show details</button>
        <div class="separator"><span *ngIf="!showGuidance">OR</span></div>
        <div *ngIf="!showGuidance" class="description">Click on a Clarity component for guidance.</div>
        <div *ngIf="showGuidance" class="guidance-container">
            <h4  class="guidance-header">
                Guidance
                <clr-dropdown *ngIf="hasLinks">
                    <button class="btn btn-primary btn-sm" clrDropdownTrigger>
                        MOre information
                        <cds-icon shape="angle" direction="down"></cds-icon>
                    </button>
                    <clr-dropdown-menu clrPosition="bottom-left" *clrIfOpen>
                        <label class="dropdown-header" aria-hidden="true">Learn more on:</label>

                        <a clrDropdownItem *ngFor="let link of guidanceLinks" [href]="link.url" target="_blank">
                            {{link.name}}
                        </a>
                    </clr-dropdown-menu>
                </clr-dropdown>
            </h4>
            <clr-accordion>
                <clr-accordion-panel *ngFor="let guidance of guidance">
                    <clr-accordion-title>{{guidance.title}}</clr-accordion-title>
                    <clr-accordion-content *clrIfExpanded [innerHtml]='guidance.content | keepHtml'></clr-accordion-content>
                </clr-accordion-panel>
            </clr-accordion>
        </div>
    </div>
    <div *ngIf="search" class="search-container">
        <clr-spinner></clr-spinner>
        <div  class="title" cds-text="section">Scan in progress</div>
        <div class="description" cds-text="body">
            Searching for missing tokens and detached symbols...
        </div>
    </div>
    <div *ngIf="showViolations" class="results-container">
        <div cds-text="section" class="back-header">
            <button
                (click)="showViolations = !showViolations"
                class="btn btn-icon btn-sm btn-link-neutral back-button"
            >
                <cds-icon shape="angle" size="md" direction="left" />
            </button>
            <span>
                Results
            </span>
        </div>
        <results-component
            [hex-violations]="hexViolations"
            [detached-nodes]="detachedViolations"
        ></results-component>
    </div>
    <div class="footer">
        <a href="https://clarity.design" target="_blank">clarity.design</a>
    </div>
</div>