@use '@cds/core/tokens/tokens.scss';

.card {
  .card-header {
    display: flex;
    justify-content: space-between;
  }

  .card-block  {
    padding: #{tokens.$cds-global-space-5};

    .number-icon {
      display: flex;
      align-items: center;
      gap: #{tokens.$cds-global-space-3};
    }

    .card-text.header-buttons {
      display: flex;
      gap: #{tokens.$cds-global-space-6};
      flex-wrap: wrap;
      align-content: center;
    }
  }
}

.results-container {
  .back-header {
    display: flex;
    gap: #{tokens.$cds-global-space-5};

    .back-button {
      margin: 0;
      padding: 0;
    }
  }

  .all-fixed-icon {
    background-image: url("data:image/svg+xml;base64, PHN2ZyB3aWR0aD0iMzAyIiBoZWlnaHQ9IjE2NyIgdmlld0JveD0iMCAwIDMwMiAxNjciIGZpbGw9Im5vbmUiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+DQo8cGF0aCBkPSJNMjU0LjgyIDE0LjE0QzI1NC4yNyAxNC4xNCAyNTMuODIgMTMuNjkgMjUzLjgyIDEzLjE0VjFDMjUzLjgyIDAuNDUgMjU0LjI3IDAgMjU0LjgyIDBDMjU1LjM3IDAgMjU1LjgyIDAuNDUgMjU1LjgyIDFWMTMuMTRDMjU1LjgyIDEzLjY5IDI1NS4zNyAxNC4xNCAyNTQuODIgMTQuMTRaIiBmaWxsPSIjNEY2MTY5Ii8+DQo8cGF0aCBkPSJNMjYwLjg5IDguMDcwMDFIMjQ4Ljc1QzI0OC4yIDguMDcwMDEgMjQ3Ljc1IDcuNjIwMDEgMjQ3Ljc1IDcuMDcwMDFDMjQ3Ljc1IDYuNTIwMDEgMjQ4LjIgNi4wNzAwMSAyNDguNzUgNi4wNzAwMUgyNjAuODlDMjYxLjQ0IDYuMDcwMDEgMjYxLjg5IDYuNTIwMDEgMjYxLjg5IDcuMDcwMDFDMjYxLjg5IDcuNjIwMDEgMjYxLjQ0IDguMDcwMDEgMjYwLjg5IDguMDcwMDFaIiBmaWxsPSIjNEY2MTY5Ii8+DQo8cGF0aCBkPSJNMjg2LjUxIDU1LjkzQzI4NS45NiA1NS45MyAyODUuNTEgNTUuNDggMjg1LjUxIDU0LjkzVjQ5LjMzQzI4NS41MSA0OC43OCAyODUuOTYgNDguMzMgMjg2LjUxIDQ4LjMzQzI4Ny4wNiA0OC4zMyAyODcuNTEgNDguNzggMjg3LjUxIDQ5LjMzVjU0LjkzQzI4Ny41MSA1NS40OCAyODcuMDYgNTUuOTMgMjg2LjUxIDU1LjkzWiIgZmlsbD0iIzRGNjE2OSIvPg0KPHBhdGggZD0iTTI4OS4zMSA1My4xM0gyODMuNzFDMjgzLjE2IDUzLjEzIDI4Mi43MSA1Mi42OCAyODIuNzEgNTIuMTNDMjgyLjcxIDUxLjU4IDI4My4xNiA1MS4xMyAyODMuNzEgNTEuMTNIMjg5LjMxQzI4OS44NiA1MS4xMyAyOTAuMzEgNTEuNTggMjkwLjMxIDUyLjEzQzI5MC4zMSA1Mi42OCAyODkuODYgNTMuMTMgMjg5LjMxIDUzLjEzWiIgZmlsbD0iIzRGNjE2OSIvPg0KPHBhdGggZD0iTTMxLjM3OTkgODMuODdDMzAuODI5OSA4My44NyAzMC4zNzk5IDgzLjQyIDMwLjM3OTkgODIuODdWNzcuMjdDMzAuMzc5OSA3Ni43MiAzMC44Mjk5IDc2LjI3IDMxLjM3OTkgNzYuMjdDMzEuOTI5OSA3Ni4yNyAzMi4zNzk5IDc2LjcyIDMyLjM3OTkgNzcuMjdWODIuODdDMzIuMzc5OSA4My40MiAzMS45Mjk5IDgzLjg3IDMxLjM3OTkgODMuODdaIiBmaWxsPSIjNEY2MTY5Ii8+DQo8cGF0aCBkPSJNMzQuMTgwMSA4MS4wN0gyOC41ODAxQzI4LjAzMDEgODEuMDcgMjcuNTgwMSA4MC42MiAyNy41ODAxIDgwLjA3QzI3LjU4MDEgNzkuNTIgMjguMDMwMSA3OS4wNyAyOC41ODAxIDc5LjA3SDM0LjE4MDFDMzQuNzMwMSA3OS4wNyAzNS4xODAxIDc5LjUyIDM1LjE4MDEgODAuMDdDMzUuMTgwMSA4MC42MiAzNC43MzAxIDgxLjA3IDM0LjE4MDEgODEuMDdaIiBmaWxsPSIjNEY2MTY5Ii8+DQo8cGF0aCBkPSJNMTMuMjcgMTI2LjAzQzEyLjcyIDEyNi4wMyAxMi4yNyAxMjUuNTggMTIuMjcgMTI1LjAzVjExMS4yM0MxMi4yNyAxMTAuNjggMTIuNzIgMTEwLjIzIDEzLjI3IDExMC4yM0MxMy44MiAxMTAuMjMgMTQuMjcgMTEwLjY4IDE0LjI3IDExMS4yM1YxMjUuMDNDMTQuMjcgMTI1LjU4IDEzLjgyIDEyNi4wMyAxMy4yNyAxMjYuMDNaIiBmaWxsPSIjNEY2MTY5Ii8+DQo8cGF0aCBkPSJNMjAuMTcwMSAxMTkuMTNINi4zNzAxMkM1LjgyMDEyIDExOS4xMyA1LjM3MDEyIDExOC42OCA1LjM3MDEyIDExOC4xM0M1LjM3MDEyIDExNy41OCA1LjgyMDEyIDExNy4xMyA2LjM3MDEyIDExNy4xM0gyMC4xNzAxQzIwLjcyMDEgMTE3LjEzIDIxLjE3MDEgMTE3LjU4IDIxLjE3MDEgMTE4LjEzQzIxLjE3MDEgMTE4LjY4IDIwLjcyMDEgMTE5LjEzIDIwLjE3MDEgMTE5LjEzWiIgZmlsbD0iIzRGNjE2OSIvPg0KPHBhdGggZD0iTTUuNzUgNTYuNzZDNS4yIDU2Ljc2IDQuNzUgNTYuMzEgNC43NSA1NS43NlY0Ny45NUM0Ljc1IDQ3LjQgNS4yIDQ2Ljk1IDUuNzUgNDYuOTVDNi4zIDQ2Ljk1IDYuNzUgNDcuNCA2Ljc1IDQ3Ljk1VjU1Ljc2QzYuNzUgNTYuMzEgNi4zIDU2Ljc2IDUuNzUgNTYuNzZaIiBmaWxsPSIjNEY2MTY5Ii8+DQo8cGF0aCBkPSJNOS42NjAxIDUyLjg1SDEuODUwMUMxLjMwMDEgNTIuODUgMC44NTAwOTggNTIuNCAwLjg1MDA5OCA1MS44NUMwLjg1MDA5OCA1MS4zIDEuMzAwMSA1MC44NSAxLjg1MDEgNTAuODVIOS42NjAxQzEwLjIxMDEgNTAuODUgMTAuNjYwMSA1MS4zIDEwLjY2MDEgNTEuODVDMTAuNjYwMSA1Mi40IDEwLjIxMDEgNTIuODUgOS42NjAxIDUyLjg1WiIgZmlsbD0iIzRGNjE2OSIvPg0KPHBhdGggb3BhY2l0eT0iMC41IiBkPSJNODkuODQ5OSAxMy45NkM4OS4yOTk5IDEzLjk2IDg4Ljc2OTkgMTQuMDIgODguMjM5OSAxNC4xMUM4Ni4yOTk5IDkuMSA4MS40Mjk5IDUuNTUgNzUuNzM5OSA1LjU1QzY4LjMyOTkgNS41NSA2Mi4zMjk5IDExLjU1IDYyLjMyOTkgMTguOTRDNjIuMzI5OSAxOS4xMSA2Mi4zMjk5IDE5LjI4IDYyLjM0OTkgMTkuNDRDNjEuODA5OSAxOS4zIDYxLjI0OTkgMTkuMjIgNjAuNjY5OSAxOS4yMkM1Ny4wMzk5IDE5LjIyIDU0LjEwOTkgMjIuMTYgNTQuMTA5OSAyNS43OEM1NC4xMDk5IDI5LjQgNTcuMDI5OSAzMi4zMiA2MC42Mzk5IDMyLjM0SDg5Ljg1OTlDOTQuOTM5OSAzMi4zNCA5OS4wNTk5IDI4LjIzIDk5LjA1OTkgMjMuMTVDOTkuMDU5OSAxOC4wNyA5NC45Mzk5IDEzLjk2IDg5Ljg1OTkgMTMuOTZIODkuODQ5OVoiIGZpbGw9IiM4NTkzOTkiLz4NCjxwYXRoIG9wYWNpdHk9IjAuNSIgZD0iTTI5NC43OSA4OS4xNEMyOTQuNDEgODkuMTQgMjk0LjA0IDg5LjE4IDI5My42OCA4OS4yNEMyOTIuMzQgODUuNzggMjg4Ljk4IDgzLjMzIDI4NS4wNSA4My4zM0MyNzkuOTQgODMuMzMgMjc1LjggODcuNDcgMjc1LjggOTIuNTdDMjc1LjggOTIuNjkgMjc1LjggOTIuOCAyNzUuODEgOTIuOTJDMjc1LjQ0IDkyLjgyIDI3NS4wNSA5Mi43NyAyNzQuNjUgOTIuNzdDMjcyLjE1IDkyLjc3IDI3MC4xMiA5NC44IDI3MC4xMiA5Ny4yOUMyNzAuMTIgOTkuNzggMjcyLjE0IDEwMS44MSAyNzQuNjMgMTAxLjgxSDI5NC44QzI5OC4zMSAxMDEuODEgMzAxLjE1IDk4Ljk3IDMwMS4xNSA5NS40N0MzMDEuMTUgOTEuOTcgMjk4LjMxIDg5LjEzIDI5NC44IDg5LjEzTDI5NC43OSA4OS4xNFoiIGZpbGw9IiM4NTkzOTkiLz4NCjxwYXRoIGQ9Ik0xMzcuODUgMTY2LjUxQzEzMy44NyAxNjYuNTEgMTMwLjA1IDE2NC45NyAxMjcuMjEgMTYyLjExTDY2Ljc1MDEgMTAxLjYyQzYwLjkyMDEgOTUuNzcgNjAuOTMwMSA4Ni4yNSA2Ni43NTAxIDgwLjM5TDg3LjkyMDEgNTkuMjJDOTAuNzYwMSA1Ni4zOSA5NC41MjAxIDU0Ljg0IDk4LjUzMDEgNTQuODRDMTAyLjU0IDU0Ljg0IDEwNi4zIDU2LjQgMTA5LjE1IDU5LjIzTDEzNi41OCA4Ni41OUMxMzYuOTYgODYuOTcgMTM3LjQ3IDg3LjE4IDEzOC4wMSA4Ny4xOEMxMzguNTUgODcuMTggMTM5LjA2IDg2Ljk3IDEzOS40NCA4Ni41OUwyMDQuMDYgMjEuNzVDMjA2LjkgMTguOTMgMjEwLjY2IDE3LjM4IDIxNC42NSAxNy4zOEMyMTguNjQgMTcuMzggMjIyLjQzIDE4Ljk0IDIyNS4yNyAyMS43OEwyNDYuNDMgNDIuOTVMMjQ2LjQ3IDQyLjk5QzI0OC40OCA0NS4wNCAyNDkuODUgNDcuNDcgMjUwLjQzIDUwLjA0QzI1MS42MSA1NS4yMiAyNTAuMTEgNjAuNSAyNDYuNDMgNjQuMTdMMTc0Ljg0IDEzNS43NkwxNDguNDMgMTYyLjExQzE0Ni4zNCAxNjQuMTYgMTQzLjkgMTY1LjUzIDE0MS4zMiAxNjYuMTJDMTQwLjE2IDE2Ni4zOCAxMzkgMTY2LjUxIDEzNy44NSAxNjYuNTFaTTk4LjUzMDEgNTYuODRDOTUuMDYwMSA1Ni44NCA5MS43OTAxIDU4LjE5IDg5LjMzMDEgNjAuNjRMNjguMTYwMSA4MS44MUM2My4xMTAxIDg2Ljg5IDYzLjEwMDEgOTUuMTQgNjguMTYwMSAxMDAuMjFMMTAyLjMgMTM0LjM1TDEyOC42MiAxNjAuN0MxMzEuOCAxNjMuOSAxMzYuMzggMTY1LjE5IDE0MC44OCAxNjQuMTdDMTQzLjA5IDE2My42NyAxNDUuMiAxNjIuNDggMTQ2Ljk5IDE2MC43M0wxNzMuNDIgMTM0LjM2TDI0NS4wMSA2Mi43N0MyNDguMjEgNTkuNTkgMjQ5LjUgNTUgMjQ4LjQ4IDUwLjVDMjQ3Ljk4IDQ4LjMgMjQ2Ljc5IDQ2LjE5IDI0NS4wNCA0NC40MUwyMjMuODUgMjMuMjFDMjIxLjM5IDIwLjc1IDIxOC4xMiAxOS40IDIxNC42NCAxOS40QzIxMS4xNiAxOS40IDIwNy45MiAyMC43NCAyMDUuNDYgMjMuMTlMMTQwLjg0IDg4LjAzQzE0MC4wOCA4OC43OSAxMzkuMDcgODkuMjEgMTM4IDg5LjIxQzEzNi45MyA4OS4yMSAxMzUuOTIgODguNzkgMTM1LjE2IDg4LjA0TDEwNy43MyA2MC42OEMxMDUuMjYgNTguMjIgMTAxLjk5IDU2Ljg3IDk4LjUyMDEgNTYuODdMOTguNTMwMSA1Ni44NFoiIGZpbGw9IiM0RjYxNjkiLz4NCjxwYXRoIGQ9Ik0yMDkuNDcgMjcuMThMMTQzLjA2IDkzLjU5QzE0MC4xOSA5Ni40NSAxMzUuNTQgOTYuNDUgMTMyLjY3IDkzLjU5TDEwMy43MyA2NC42NUMxMDAuODUgNjEuNzkgOTYuMTk5OSA2MS43OSA5My4zMjk5IDY0LjY1TDcyLjE2OTkgODUuODFDNjkuMzA5OSA4OC42OSA2OS4zMDk5IDkzLjM0IDcyLjE2OTkgOTYuMjFMMTA2LjMgMTMwLjM0TDEzMi42MiAxNTYuNjlDMTM1LjQ3IDE1OS41NiAxNDAuMTEgMTU5LjU3IDE0Mi45OCAxNTYuNzJDMTQyLjk4IDE1Ni43MiAxNDMgMTU2LjcgMTQzLjAxIDE1Ni42OUwxNjkuNDIgMTMwLjM0TDI0MS4wMSA1OC43NUMyNDMuODggNTUuOSAyNDMuODkgNTEuMjYgMjQxLjA0IDQ4LjM5QzI0MS4wNCA0OC4zOSAyNDEuMDIgNDguMzcgMjQxLjAxIDQ4LjM2TDIxOS44NSAyNy4xOUMyMTYuOTggMjQuMzIgMjEyLjM0IDI0LjMyIDIwOS40NiAyNy4xN0wyMDkuNDcgMjcuMThaIiBmaWxsPSIjMkVDMEZGIi8+DQo8L3N2Zz4NCg");
    background-repeat: no-repeat;
    background-position: center center;
    height: 170px;
  }
}

.container-wrapper {
  display: flex;
  justify-content: center;
  flex-direction: column;
  min-height: 100%;

  .page-container, .search-container, .results-container {
    display: flex;
    justify-content: center;
    flex-direction: column;
    min-height: 100%;
    gap: #{tokens.$cds-global-space-7};

    .separator {
      width: 100%;
      text-align: center;
      border-bottom: #{tokens.$cds-alias-object-border-color} solid #{tokens.$cds-alias-object-border-width-100};
      line-height: 0;

      &:has(span) {
        margin: #{tokens.$cds-global-space-5} 0;
      }

      span {
        background: #{tokens.$cds-alias-object-app-background};
        padding: 0 #{tokens.$cds-global-space-7};
      }
    }

    .scan-button, clr-spinner.spinner {
      margin: 0;
      align-self: center;
    }

    .clr-accordion:not(.clr-stepper-forms) .clr-accordion-inner-content {
      padding-left: #{tokens.$cds-global-space-7};
    }

    .title, .description, .clarity-logo, no-issues-found-logo {
      text-align: center;
    }

    .clarity-logo {
      background-image: url('data:image/svg+xml;base64, PHN2ZyB3aWR0aD0iMzYiIGhlaWdodD0iMzYiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGcgZmlsbD0ibm9uZSIgZmlsbC1ydWxlPSJldmVub2RkIj48cGF0aCBmaWxsPSIjMTc5YmQzIiBkPSJNMjQuNzAyIDQuNTgzbDExLjI3OCA2LjY3OS0uMDE5IDEzLjU2My0xMS4yNiA2LjY2LTYuNjg0LTMuOTcgMTEuNjUyLTYuNTQxdi01Ljg5OGwtNC43NDctMi42MDQtNi44OS0zLjkzOCIvPjxwYXRoIGZpbGw9IiNGMzhCMDAiIGQ9Ik0xMS4zMzEgNC41ODNMLjA1NCAxMS4yNjJsLjAxOCAxMy41NjMgMTEuMjYgNi42NiA2LjY4NS0zLjk3LTEwLjY2My02LjU0MXYtNS44OThsMTAuNjc4LTYuNTQyIi8+PHBhdGggZmlsbD0iIzAwNjQ4ZiIgZD0iTTE4LjAxNyAyNy41MTVMMTEuNSAyMy41MTZsNi41MjItMy44NDUgNi45MyAzLjk1MiIvPjxwYXRoIGZpbGw9IiM5ODQ0MUUiIGQ9Ik0xOC4wMzEgOC41MzNsLTYuNTA0IDMuOTg1IDYuNTE3IDMuODg0IDYuODYyLTMuOTQiLz48L2c+PC9zdmc+') ;
      background-repeat: no-repeat;
      background-position: center center;
      height: #{tokens.$cds-global-space-11};
    }

    .no-issues-found-logo {
      background-image: url("data:image/svg+xml;base64, PHN2ZyB3aWR0aD0iMTIwIiBoZWlnaHQ9IjEyMCIgdmlld0JveD0iMCAwIDEyMCAxMjAiIGZpbGw9Im5vbmUiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+DQo8ZyBjbGlwLXBhdGg9InVybCgjY2xpcDBfMTYyXzI2NTUpIj4NCjxwYXRoIGQ9Ik05NC41OCAxMi40M0g4NC45OEM4NC40MyAxMi40MyA4My45OCAxMS45OCA4My45OCAxMS40M0M4My45OCAxMC44OCA4NC40MyAxMC40MyA4NC45OCAxMC40M0g5NC41OEM5NS4xMyAxMC40MyA5NS41OCAxMC44OCA5NS41OCAxMS40M0M5NS41OCAxMS45OCA5NS4xMyAxMi40MyA5NC41OCAxMi40M1oiIGZpbGw9IiM4NTkzOTkiLz4NCjxwYXRoIGQ9Ik04OS43Nzk4IDE3LjIzQzg5LjIyOTggMTcuMjMgODguNzc5OCAxNi43OCA4OC43Nzk4IDE2LjIzVjYuNjNDODguNzc5OCA2LjA4IDg5LjIyOTggNS42MyA4OS43Nzk4IDUuNjNDOTAuMzI5OCA1LjYzIDkwLjc3OTggNi4wOCA5MC43Nzk4IDYuNjNWMTYuMjNDOTAuNzc5OCAxNi43OCA5MC4zMjk4IDE3LjIzIDg5Ljc3OTggMTcuMjNaIiBmaWxsPSIjODU5Mzk5Ii8+DQo8cGF0aCBkPSJNNjcuNTQ5OCAyNC43NUM2Ni45OTk4IDI0Ljc1IDY2LjU0OTggMjQuMyA2Ni41NDk4IDIzLjc1VjE4LjE1QzY2LjU0OTggMTcuNiA2Ni45OTk4IDE3LjE1IDY3LjU0OTggMTcuMTVDNjguMDk5OCAxNy4xNSA2OC41NDk4IDE3LjYgNjguNTQ5OCAxOC4xNVYyMy43NUM2OC41NDk4IDI0LjMgNjguMDk5OCAyNC43NSA2Ny41NDk4IDI0Ljc1WiIgZmlsbD0iIzg1OTM5OSIvPg0KPHBhdGggZD0iTTcwLjM1IDIxLjk1SDY0Ljc1QzY0LjIgMjEuOTUgNjMuNzUgMjEuNSA2My43NSAyMC45NUM2My43NSAyMC40IDY0LjIgMTkuOTUgNjQuNzUgMTkuOTVINzAuMzVDNzAuOSAxOS45NSA3MS4zNSAyMC40IDcxLjM1IDIwLjk1QzcxLjM1IDIxLjUgNzAuOSAyMS45NSA3MC4zNSAyMS45NVoiIGZpbGw9IiM4NTkzOTkiLz4NCjxwYXRoIGQ9Ik0xNS45OCA5OS45M0MxNS40MyA5OS45MyAxNC45OCA5OS40OCAxNC45OCA5OC45M1Y5My4zM0MxNC45OCA5Mi43OCAxNS40MyA5Mi4zMyAxNS45OCA5Mi4zM0MxNi41MyA5Mi4zMyAxNi45OCA5Mi43OCAxNi45OCA5My4zM1Y5OC45M0MxNi45OCA5OS40OCAxNi41MyA5OS45MyAxNS45OCA5OS45M1oiIGZpbGw9IiM4NTkzOTkiLz4NCjxwYXRoIGQ9Ik0xOC43ODAyIDk3LjEzSDEzLjE4MDJDMTIuNjMwMiA5Ny4xMyAxMi4xODAyIDk2LjY4IDEyLjE4MDIgOTYuMTNDMTIuMTgwMiA5NS41OCAxMi42MzAyIDk1LjEzIDEzLjE4MDIgOTUuMTNIMTguNzgwMkMxOS4zMzAyIDk1LjEzIDE5Ljc4MDIgOTUuNTggMTkuNzgwMiA5Ni4xM0MxOS43ODAyIDk2LjY4IDE5LjMzMDIgOTcuMTMgMTguNzgwMiA5Ny4xM1oiIGZpbGw9IiM4NTkzOTkiLz4NCjxwYXRoIGQ9Ik05My43MTAxIDI1LjJMNTEuMzcwMSA2Ny41NEM0OS41NDAxIDY5LjM2IDQ2LjU4MDEgNjkuMzYgNDQuNzUwMSA2Ny41NEwyNi4zMDAxIDQ5LjA5QzI0LjQ3MDEgNDcuMjYgMjEuNTAwMSA0Ny4yNiAxOS42NzAxIDQ5LjA5TDYuMTgwMTIgNjIuNThDNC4zNTAxMiA2NC40MSA0LjM1MDEyIDY3LjM4IDYuMTgwMTIgNjkuMjFMMjcuOTQwMSA5MC45N0w0NC43MjAxIDEwNy43N0M0Ni41NDAxIDEwOS42IDQ5LjUwMDEgMTA5LjYxIDUxLjMzMDEgMTA3Ljc5QzUxLjMzMDEgMTA3Ljc5IDUxLjM0MDEgMTA3Ljc4IDUxLjM1MDEgMTA3Ljc3TDY4LjE5MDEgOTAuOTdMMTEzLjgzIDQ1LjMzQzExNS42NiA0My41MSAxMTUuNjcgNDAuNTUgMTEzLjg1IDM4LjcyQzExMy44NSAzOC43MiAxMTMuODQgMzguNzEgMTEzLjgzIDM4LjdMMTAwLjM0IDI1LjJDOTguNTEwMSAyMy4zNyA5NS41NTAxIDIzLjM3IDkzLjcyMDEgMjUuMkg5My43MTAxWiIgZmlsbD0iIzg1OTM5OSIvPg0KPC9nPg0KPGRlZnM+DQo8Y2xpcFBhdGggaWQ9ImNsaXAwXzE2Ml8yNjU1Ij4NCjxyZWN0IHdpZHRoPSIxMjAiIGhlaWdodD0iMTIwIi8+DQo8L2NsaXBQYXRoPg0KPC9kZWZzPg0KPC9zdmc+DQo");
      background-repeat: no-repeat;
      background-position: center center;
      height: 120px;
    }
  }

  .page-container .guidance-container {
    .card {
      margin-top: 0;
    }

    .guidance-header {
      display: flex;
      justify-content: space-between;
      margin-bottom: #{tokens.$cds-global-space-7};
    }
  }

  .footer {
    text-align: center;
    margin-top: auto;
  }

  h4 {
    margin: 0;
  }
}
